{% extends "base.html" %}
{% block start %}
    <title>Edit Expense</title>
</head>
<body>
     
    <form method="post" class="max-w-sm mx-auto shadow-md border p-5 mt-16 bg-gray-300">
        {% csrf_token %}
        <div class="flex justify-center items-center h-full pt-2 font-medium text-gray-900 dark:text-black" >
          <h1>Edit Expense</h1>
       </div>

        <div>
          <label for="id_amount" class="block pt-2 mb-2 text-sm font-medium text-gray-900 dark:text-black">Amount:</label>
          <input type="text" id="id_amount" name="amount" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.amount.value }}">
      </div>
      <div class="form-group">
          <label for="id_category" class="block pt-2 mb-2 text-sm font-medium text-gray-900 dark:text-black">Category:</label>
          <input type="text" id="id_category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.category.value }}">
      </div>
      <div class="max-w-sm mx-auto">
          <label for="id_description" class="block pt-2 mb-2 text-sm font-medium text-gray-900 dark:text-black">Description:</label>
          <input type="text" id="id_description" name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.description.value }}">
      </div>
        

        <div class="flex justify-center items-center h-full pt-5"> <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button> </div>
    </form>
    
</body>
{% endblock%}
